//colors
$color-white: hsl(0, 0%, 100%);
$color-red: hsl(358, 76%, 50%);
$color-dark: hsl(0, 0, 0);
$color-yellow: hsl(59, 69%, 71%);
$color-lightgrey: hsl(0, 0%, 93%);
$color-footer: hsl(0, 0%, 16%);
$color-blue: #00649c;
$color-green: #1be24dd2;


//fonts
$font-Roboto: "Roboto", "Open-Sans", "Arial", sans-serif;
$font-Open: "Open Sans", "Roboto", "Arial", sans-serif;
