.site-header{
    background-color: #f7f7f7;
}

.top-block{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;
}

.logo{
    @include font( 400, 20px, 45px);
    text-transform: uppercase;
    color: $color-red;
    padding: 10px;
    padding-left: 0;

    span{
        color: $color-dark;
    }
}

.sign-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    text-align: center;
    height: 100%;

    &-item{
        background-color: $color-lightgrey;
        display: flex;
        align-items: center;
    }

    &-item:last-child svg{
       vertical-align: middle;
       margin-bottom: 5px;
    }

    &-item:not(:last-child){
       border-right: 1px solid #fff;
    }

    .sign-link{
        display: block;
        padding: 20px;
        @include font(500, 14px, 1.2);
        color: $color-dark;

        &:hover{
            color: $color-red;
        }

        .bag-amount{
            color: #000;
        }
    }
}


.site-navigation{
    background-color: $color-dark;
    display: none;
}

.main-menu{
    display: flex;

    .menu-item:first-child .main-menu_link{
        padding-left: 0;
    }

    .main-menu_link{
        color: #fff;
        padding: 16px;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
    }

    .menu-item:hover .main-menu_link{
        color: $color-red;
    }
}

// .user-nav {
//   @extend %head-nav;

//   &__item:not(:last-child) {
//     margin-right: 40px;
//   }

//   &__icon:hover {
//     fill: $link-hover;
//   }
// }

// .price {
//   @extend %currency;

//   @include respondTo(smartphone) {
//     background-color: hsl(130, 80%, 50%);
//   }
// }
